.index-body {
    .landing {
        background-image: url('/images/gym-banner.jpg');
        background-repeat: repeat-x;
        height: 32%;
        text-align: center;
        width: 100%;
        font-weight: bolder;
        font-family: apex;
    }
    
    .title-font {
        font-weight: bolder;
        font-family: apex;
    }
    
    .title-font-color {
        color: #83C3A3;
    }
    
    .login-buttons {
        margin-bottom: 2%;
    }
    
    .form-format {
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
    }
    
    .title-margin {
        margin-top: 2%;
    }
    .main-content {
        @include top-buffer-trainer;
    }

    #comments {
        color: black;
    }
}