.index-body {

    .landing {
        background-image: url('/images/gym-banner.jfif');
        background-repeat: repeat-x;
        height: 300px;
        text-align: center;
        width: 100%;
        font-weight: bolder;
        font-family: apex;
    }
    
    .title-font {
        font-weight: bolder;
        font-family: apex;
        text-shadow: 5px 5px 5px #000000;
    }
    
    .title-font-color {
        color: #83C3A3;
    }
    
    .login-buttons {
        margin-top: 3%;
    }

    .description-font {
        text-shadow: 1px 1px 1px #000000;
    }
    
    .form-format {
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
    }
    
    .title-margin {
        margin-top: 5%;
    }
    .main-content {
        @include top-buffer-trainer;
    }

    #comments {
        color: $dark;
    }

    #carouselExampleCaptions {
        width: 50%;
        margin-top: 6%;
    }

    #time-slot {
        color: $dark;
    }

    .form-select {
        color: $dark;
    }
}