@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}

// mq breakpoints
@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  
@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin box-shadow($top: 0, $left: 4px, $blur: 8px, $size: 1px, $color: rgba(0, 0, 0, 0.8)) {
  -webkit-box-shadow: $top $left $blur $size $color;
  -moz-box-shadow: $top $left $blur $size $color;
  box-shadow: $top $left $blur $size $color;
}


@mixin top-buffer-trainer {
    margin-top: 50px;
}
@mixin content-center {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
@mixin progress-text {
  background-color: black;
  border-radius: 0px;
}
