@mixin hover-state {
    &:hover, &:active, &:focus {
        @content;
    }
}

// not yet used
@mixin have-an-account {
    width: 200px;
    border-color: #FFF;
    border-top: solid 5px #000;
}
@mixin top-buffer-trainer {
    margin-top: 50px;
}