// variables.scss

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 800px;

// Theme colours
$primary:         #83C3A3;
$primary-darker:  darken($primary, 10%);
$primary-lighter: lighten($primary, 10%);
$secondary:       #D4DDD6;
$success:         #83C3A3;
$info:            #0444AC;
$warning:         #C84146;
$danger:          #F7D38D;
$light:           #D4DDD6;
$dark:            #1E242E;

$darker:          darken($dark, 8%);
$darkest:         darken($dark, 10%);  

// Types
$type-heading: "apex";

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $darker;
$body-color:                $light;
$body-text-align:           null !default;

// Cards
$card-cap-bg:                       rgba($dark, .1);
$card-bg:                           rgba($light, 0.1);