.find-a-trainer {
    $avatar-size: 50px;

    main {
        margin: 0 auto;
        padding: 2em;
        max-width: 2560px;
    }

    section {
        margin-bottom: 2em;
        width: 100%;
    }

    .banner {
        text-align: center;
        font-size: 1.5em;

        .section-title {
            font-size: 3em;
        }
        
        .subtext {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    .search-and-filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        @include tablet {
            grid-template-columns: 1fr minmax(15%, 150px) minmax(15%, 150px);
        }

        .search-bar {
            @include box-shadow;
            grid-column: 1 / span 2;

            @include tablet {
                grid-column: 1;
            }

            .search-btn {
                background-color: $primary;
                border: none;
                
                i {
                    margin: 0;
                    color: $dark;
                }
            }
        }

        .filter-btn {
            &.no-filters {
                .filters-applied {
                    display: none;
                }
            }
        }

        .reset-filters-btn {
            box-shadow: none;

            @include hover-state {
                color: $primary;
                @include box-shadow;
            }
        }
    }

    .results-meta {
        b {
            color: $light;
        }
    }
    
    .trainer-list {
        margin: 0 auto;
        display: grid;
        gap: 1em;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        .card {
            border: none;
            @include box-shadow;

            .card-header {
                display: grid;
                grid-template-columns: 50px 1fr;
                gap: 0 1em;
                font-family: $type-body;
                background-color: $darkest;

                .user-avatar {
                    grid-row: 1 / span 2;
                    position: relative;
                    padding-bottom: 100%;
                    height: 0;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }

                .trainer-name {
                    margin: 0;
                    line-height: 1;
                }

                .rating {
                    font-size: 0.75em;
                }
            }

            .card-body {
                padding: 1em 2em;

                i {
                    width: 1em;
                    color: $primary;
                }

                .view-profile {
                    display: block;
                    margin: 0 auto;
                    margin-top: 2em;
                    width: 50%;
                }
            }


        }        
    }

}