.index-body {
    position: relative;

    header {
        margin: 0;
        z-index: 99999;
    }

    footer {
        z-index: 99;
        .scroll-to-top {
            display: none;
        }
    }
    
    .title-font {
        font-weight: bolder;
        font-family: apex;
        text-shadow: 1px 1px 1px #000000;
        font-size: 2rem;
    }
    
    .title-font-color {
        color: $primary;
    }

    .description-font {
        text-shadow: 1px 1px 1px #000000;
        font-size: 1rem;
    }
    
    .form-format {
        margin: 0 auto;
        width: 400px;
        max-width: 100%;
    }
    
    .title-margin {
        margin-top: 5%;
    }
    .main-content {
        @include top-buffer-trainer;
    }

    #comments {
        color: $dark;
    }

    #carouselExampleCaptions {
        width: 100%;
    }

    .carousel {
        margin: 0;
        padding: 0;

        .carousel-item {
            height: 100vh;

            img {
                height: 100%;
                object-fit: cover;
                filter: brightness(40%);
            }            
        }

        .carousel-control-next,
        .carousel-control-prev {
            box-shadow: none;

            @include hover-state {
                background: none;
                transform: scale(1.2);

                span {
                    @include drop-shadow;

                    &.carousel-control-prev-icon {
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2383C3A3'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");                        
                    }
                    
                    &.carousel-control-next-icon {
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2383C3A3'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");                        
                    }

                }
            }
        }

        .carousel-indicators {
            button {
                box-shadow: none;
            }
        }
        
        .caption {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-size: 3em;
            }

            .description-font {
                margin-bottom: 3rem;
                max-width: 600px;
                font-size: 1.5em;
            }

            .btn {
                font-family: $type-heading;
                text-transform: uppercase;
                font-size: 1.5em;
            }
        }
    }
}