/* style sheet for trainer "my expertise" */
.initial-trainer-expertise {

    h1 {
        margin: 0;
    }
    ul.list-group {
        padding: 0;
    }
    .top-buffer {
        @include top-buffer-trainer;
    }
    .container {
        @include content-center;
    }
    i {
        font-size: 20pt;
    }
    a {
        padding: 0;
    }
    .btn-outline-dark {
        border-color: $darker;
    }
    .progress-bar {
        background-color: $dark;
    }
    #certImg {
        // display: flex;
        justify-self: end !important;
    }
    #certImgInp {
        display: none;
    }
    label.btn {
        margin-bottom: 10px;
    }

}