
    /* style sheet for initial setup of trainer unique profile */
.initial-trainer-info {
    background-color: $dark;
    .top-buffer {
        margin-top: 50px;
    }
    .container {
        @include content-center;
    }

    .no-padding {
        padding: 0;
    }

    textarea {
        word-break: normal !important;
    }

    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    path {
        fill: #83C3A3;
    }

    .fa-user-circle {
        font-size: 84pt;
        margin: 0;
    }

}