
    /* style sheet for initial setup of trainer unique profile */
.initial-trainer-info {
    .top-buffer {
        margin-top: 50px;
    }

    .no-padding {
        padding: 0;
    }

    textarea {
        word-break: normal !important;
    }

    h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        background-color: #0444AC !important;
    }

    ul {
        list-style: none;
    }

    path {
        fill: #83C3A3;
    }

    svg {
        width: 6em;
    }

}