.messages-notifications {

    .top-buffer {
        @include top-buffer-trainer;
    }
    button {
        color: $secondary;
        &.nav-link {
            &.active {
                @include tabs;
            }
        }
    }
    .tab-pane {
        div{
            margin: 10px 1.5em;
        }
        p {
            margin: 0;
        }
        i {
            font-size: 30pt;
        }
        img {
        }  
    }
}