.user-profile {
    .msg-profile {
        margin: 0 auto 50px auto;
    }
    .trainer-name {
        margin-top: 2%;
    }
    .profile-pic {
        border-radius: 50%;
    }
    .card {
        margin: 0 auto;
        width: 80%;
        min-width: 300px;
        max-width: 900px;
    }
    .msg-icon {
        font-size: 1.5em;
        margin-top: 3px;
    }
    .fa-user-cog {
        font-size: 1.5em;
        margin-top: 3px;
    }
    .profile-stats {
        text-align: center;
        width: 200px;
        margin: 20px auto;
        font-weight: bold;
    }
    .profile-stats-clients > p {
        margin-bottom: -2px;
    }
    .profile-stats-sessions > p {
        margin-bottom: -2px;
    }
    .user-info {
        margin: 2% auto;
        width: 80%;
        min-width: 300px;
        max-width: 900px;
    }
    .about-me {
        display: table;
        width: 100%;
    }
    .about-me-row {
        display: table-row;
    }
    .about-me-title {
        display: table-cell;
        font-weight: bold;
        padding-bottom: 25px;
    }
    .about-me-answer {
        display: table-cell;
        text-align: right;
    }
    .book-button {
        /* can change font, font colour, font-weight */
    }    
    .bold-primary {
        /* color: #83C3A3; */
    }
    .text-align-right {
        text-align: left;
    }    
    .card-background-color {
        background-color: #232629;
    }
}