# this is a file that mac computers produce, not needed for others on the team
.DS_Store
# file to try stuff on
trainer-profile - Copy.html

test-file.html

initial-trainer-profile.html
initial-trainer-profile.css
trainer-profile-self.html

general-availability.html