.accordion {
    background: $darkest;

    .accordion-button {
        background: $darkest;
        

        &:not(.collapsed) {
            background: $darker;
        }

        &.no-children {
            .accordion-button::after {
                display: none;
            }        
        }
    }

    .accordion-item {
        .nav-item {
            background: $dark;
        }
    }

    .copyright {
        color: $dark;

        i {
            color: $dark;
        }
    }
}