#firebaseui-auth-container {
    .firebaseui-container {
        background: $dark;

        .firebaseui-title {
            color: $light;
        }
    }

    @include hover-state {
        color: $light;
    }

    input[type=text]:hover {
        color: $light;
    }

    input[type=text]:active {
        color: $light;
    }

    input[type=text]:focus {
        color: $light;
    }
}