button {
    @include box-shadow($blur: 20px);

    @include hover-state {
        background-color: $darker;
        color: $primary;
        font-weight: bold;
    }
    

    &.btn-outline-light {
        box-shadow: none;

        @include hover-state {
            background-color: $light;
            color: $dark;
            @include box-shadow;
        }
    }
}