footer {
    a {
        color: $light;
        text-decoration: none;
    }

    i {
        color: $primary;

        @include hover-state {
            color: $dark;
        }
    }

    li {
        list-style-type: none;
    }

    .scroll-to-top {
        color: $info;
        box-shadow: none;

        i {
            color: $info;
        }
    }

    .mobile {
        @include box-shadow($left: -1px);

        @include desktop {
            display: none;
        }

        .social-media {
            justify-content: flex-end;

            a { 
                &:last-of-type {
                    i {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .desktop {
        display: none;
        background: $darkest;
        @include box-shadow($left: -1px);
        
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1vh 1vw;
        }

        .heading {
            padding-bottom: 0.25em;
            border-bottom: 1px solid $dark;
        }

        ul {
            margin: 0;
            margin-top: 0.75em;
            padding: 0;
        }

        .category {
            &.copyright {
                grid-column: 1;

                .heading {
                    border: none;
                }
            }

            &.social {
                grid-column: 3;
                grid-row: 1 / span 2;
                align-self: center;

                .social-media {
                    justify-content: flex-start;
                }
            }
        }
    }

    .social-media {
        display: flex;
        justify-content: flex-end;

        a {
            i {
                font-size: 1.5em;
            }
        }

    }
}