/* style sheet for sign up trainer */

.container {
    margin-top: 5%;
}
.top-buffer {
    margin-top: 50px;
}
body {
    margin: 0 auto;
}

/* for "have an account and login buttons" */
#bottom-buttons a {
    width: 50%;
    border-color: #FFF;
}
#bottom-buttons {
    border-top: solid 5px #000;
}
a {
    color: #BABABA;
}

.my-row {
    margin: 50px auto 0 auto;
}

footer {
    @include top-buffer-trainer;
}